<h1>Articles with tag <%= @tag.name.capitalize %></h1>
<ul>
  <% @tag.articles.each do |article| %>
  <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<%= link_to "<= Back to articles list", articles_path %>
