.article-image img {
  width: 100%;
}

.login-box {
  max-width: 500px;
  margin: auto;
}

#logged_status {
  text-align: center;
}

.flash {
  text-align: center;
  padding: 5px;
}

.username {
  color: green;
  font-weight: 600;
}

.container {
  padding-top: 30px;
}

.article > div {
  margin-bottom: 20px;
}

.article_body {
  padding: 10px 0 10px 0;
}
